{{- if eq .Values.api_gateway.expose true }}
kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1beta1
metadata:
  name: {{ printf "%s-route" .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - kind: Gateway
      name: {{ tpl (.Values.api_gateway.api_gateway_name | toString) . | quote }}
      namespace: {{ default .Release.Namespace (tpl (.Values.api_gateway.namespace | toString) . | quote) }}
  hostnames:
    - {{ tpl (.Values.api_gateway.hostname | toString) . | quote }}
  rules:
    - matches:
      - path:
          type: PathPrefix
        {{- if eq .Values.route "" }}
          value: {{ printf "/%" .Release.Name }}
        {{- else }}
          value: {{ printf "%s" (tpl (.Values.api_gateway.route | toString) . | quote) }}
        {{- end }}
      filters:
      - type: URLRewrite
        urlRewrite:
          path:
            type: ReplacePrefixMatch
            replacePrefixMatch: {{ default (printf "/") .Values.api_gateway.replacePrefixMatch }}
      backendRefs:
      - name: {{ include "appname" . }}
        port: {{  $.Values.service.internalPort }}
    {{- range $key,$value:= .Values.api_gateway.redirects }}
      - matches:
        - path:
            type: PathPrefix
            value: {{ $key }}
        filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: {{ $value }}
        backendRefs:
        - name: {{ include "appname" $ | quote }}
          port: {{  $.Values.service.internalPort }}
    {{- end }}
{{- end }}