apiVersion: v1
kind: ServiceAccount
metadata:
  {{- include "sa.annotations" . | indent 2 }}
  {{- include "app.labels" . | indent 2 }}
  name: {{ default (include "appname" .) .Values.serviceAccount }}
  namespace: {{ .Release.Namespace }}
{{- end }}
